
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Board Game</title>
    <link rel="stylesheet" href="/styles/add-game.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <h1>Add a New Board Game</h1>
        <form action="/add-game" method="POST" class="form">
            <div class="input-group">
                <label for="title">Game Title:</label>
                <input type="text" id="title" name="title" required autocomplete="off" placeholder="Start typing a game title...">
                <div id="autocomplete-results" class="autocomplete-results"></div>
            </div>
            <input type="hidden" id="boardgame_id" name="boardgame_id" value="" required>
            <input type="hidden" id="imageurl" name="imageurl" required>
            <button type="submit" id="submit-button" class="submit-button">Add Game</button>
        </form>
        <div class="button-container">
            <a href="/" class="cancel-button">Cancel</a>
        </div>
    </div>
    <link rel="stylesheet" href="/styles/add-game.css">
    <script src="/scripts/add-game.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>
